.form-control-sm {
    padding: 0.25rem 0.75rem;
}

.btn--add-list-item, .btn--save {
    border: 0;
    box-shadow: none;
}

.btn--add-list-item {
    color: var(--color-accent);
}

.btn--save {
    color: var(--bs-primary);
    
    &:hover {
        color: var(--color-primary--dark);
    }
}